<!DOCTYPE html>
<html>
  <head>
    <title>Railsdocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'bootstrap.min', 'bootstrap-theme.min',  'application' %>
    <%= javascript_include_tag 'jquery','bootstrap.min',  'jquery-ujs', 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
